Repository LIKELION-REACT-16/Market-Karly, pull requests merged in 2023-03, with the labels that each got.

#97 Component | Counter 구현
  src/assets/img-minus-black.svg
  src/assets/img-minus-gray.svg
  src/assets/img-plus-black.svg
  src/components/Counter/Count.jsx
  src/components/Counter/CountButton.jsx
  src/components/Counter/Counter.jsx
  src/components/Counter/Counter.module.scss
  src/styles/main.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#98 Componet | InputTypeText 마크업&스타일링 구현 #60
  src/components/InputText/InputText.jsx
  src/components/InputText/InputText.module.scss
  src/main.jsx
Labels: 🎨 HTML & CSS

#99 Component | InputCheckbox 구현
  src/assets/check.svg
  src/components/A11yHidden/A11yHidden.jsx
  src/components/InputCheckbox/InputCheckbox.jsx
  src/components/index.js
  src/styles/components/A11yHidden.module.scss
  src/styles/components/InputCheckbox.module.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#92 Component | Button 구현
  src/components/Button.jsx
  src/components/ButtonTest.jsx
  src/styles/components/Button.module.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#105 Header | 리팩토링 오타수정, 파일정리 및 디테일 수정 #104
  src/components/Header/Nav.jsx
  src/components/Header/UserMenu.jsx
  src/components/Header/categoryMenu.module.scss
  src/components/Header/header.module.scss
  src/components/Header/nav.module.scss
  src/components/Header/searchBar.module.scss
  src/components/Header/userMenu.module.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS

#114 [refact] Counter Comp. className관련 개선 #113
  src/components/Counter/Counter.jsx
Labels: 🔨 Refactor

#111 Component | InputCheckbox 리팩토링 #58
  src/assets/img-check.svg
  src/components/InputCheckbox/InputCheckbox.jsx
  src/components/InputCheckbox/InputCheckbox.module.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS

#96 Component | 썸네일, 필터 구현
  index.html
  src/assets/zzol.png
  src/components/Accordian.jsx
  src/components/Badge.jsx
  src/components/Thumbnail.jsx
  src/components/TotalNFilter.jsx
  src/components/index.js
  src/pages/ProductList.jsx
  src/styles/badge.module.scss
  src/styles/productList.module.scss
  src/styles/thumbnail.module.scss
  src/styles/totalNumber.module.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#115 Component | Footer 구현
  src/assets/Arrow.svg
  src/assets/Blog.svg
  src/assets/Facebook.svg
  src/assets/Instagram.svg
  src/assets/NaverPost.svg
  src/assets/Youtube.svg
  src/assets/logo_isms.svg
  src/assets/logo_privacy.svg
  src/assets/logo_tosspayments.svg
  src/assets/logo_wooriBank.svg
  src/components/Footer/About.jsx
  src/components/Footer/Area.jsx
  src/components/Footer/CallNumber.jsx
  src/components/Footer/Copyright.jsx
  src/components/Footer/CustomerService.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/FooterNav.jsx
  src/components/Footer/Guarantee.jsx
  src/components/Footer/Inquiry.jsx
  src/components/Footer/LinkMailto.jsx
  src/components/Footer/NonMembers.jsx
  src/components/Footer/SocialNav.jsx
  src/components/Layout/Layout.jsx
  src/main.jsx
  src/pages/Home.jsx
  src/styles/components/Footer/About.module.scss
  src/styles/components/Footer/Area.module.scss
  src/styles/components/Footer/CallNumber.module.scss
  src/styles/components/Footer/Copyright.module.scss
  src/styles/components/Footer/CustomerService.module.scss
  src/styles/components/Footer/Footer.module.scss
  src/styles/components/Footer/FooterNav.module.scss
  src/styles/components/Footer/Guarantee.module.scss
  src/styles/components/Footer/Inquiry.module.scss
  src/styles/components/Footer/LinkMailto.module.scss
  src/styles/components/Footer/NonMembers.module.scss
  src/styles/components/Footer/SocialNav.module.scss
  src/styles/components/component.module.scss
  src/styles/layout/_footer.scss
  src/styles/layout/_header.scss
  src/styles/main.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS, ✨ Feature

#117 Component | Footer 콘솔 오류 출력 문제 해결 및 코드 리팩토링
  src/components/Footer/Area.jsx
  src/components/Footer/Guarantee.jsx
  src/styles/components/Footer/Area.module.scss
Labels: 🐞 BugFix, 🔨 Refactor

#118 Component | Banner 구현 #3
  src/assets/img-banner01.svg
  src/assets/img-banner02.svg
  src/assets/img-banner03.svg
  src/assets/img-banner04.svg
  src/components/Banner/Banner.jsx
  src/components/Banner/Banner.module.scss
  src/pages/Home.jsx
Labels: 🎨 HTML & CSS, 🧑‍🦼 Accessibility

#119 Page | Cart 페이지 제작
  src/assets/img-down-arrow.svg
  src/assets/img-frozen-food.svg
  src/assets/img-location.svg
  src/assets/img-refrigerated-food.svg
  src/assets/img-roomTemp-food.svg
  src/main.jsx
  src/pages/Cart.jsx
  src/pages/Cart/CartList.jsx
  src/pages/Cart/Credit.jsx
  src/styles/pages/Cart/Cart.module.scss
  src/styles/pages/Cart/CartList.module.scss
  src/styles/pages/Cart/Credit.module.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#121 Component | Cart Accordion 컴포넌트 제작
  src/assets/img-cancel.svg
  src/assets/img-galbitang.png
  src/pages/Cart/CartAccordion.jsx
  src/pages/Cart/CartList.jsx
  src/styles/pages/Cart/CartAccordion.module.scss
  src/styles/pages/Cart/CartList.module.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS, ✨ Feature

#122 Component | MainModal 컴포넌트 제작
  src/assets/img-main-modal.png
  src/components/MainModal/MainModal.jsx
  src/components/MainModal/MainModal.module.scss
  src/pages/Home.jsx
  src/styles/abstracts/_variable.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#123 Register | 마크업&스타일링
  src/assets/right.svg
  src/assets/star.svg
  src/pages/Register.jsx
  src/styles/pages/_register.scss
Labels: 🎨 HTML & CSS

#125 Login | 마크업&스타일링
  src/main.jsx
  src/pages/Login.jsx
  src/styles/pages/_login.scss
Labels: 🎨 HTML & CSS

#134 Refact | Header, Footer 레이아웃 및 디테일 수정
  src/components/Header/header.module.scss
  src/components/Header/nav.module.scss
  src/components/Header/searchBar.module.scss
  src/components/Header/userMenu.module.scss
  src/styles/components/Footer/Footer.module.scss
Labels: 🐞 BugFix, 🔨 Refactor, 🎨 HTML & CSS

#131 Component | Detail page, 상품 카드, 상품 설명, 상세 정보, 네비게이션 구현
  src/assets/img-check-point.png
  src/assets/img-icon-alert-disable.svg
  src/assets/img-icon-alert.svg
  src/assets/img-icon-check.svg
  src/assets/img-icon-cold.svg
  src/assets/img-icon-eco.svg
  src/assets/img-icon-heart-purple.svg
  src/assets/img-icon-only.svg
  src/assets/img-icon-price.svg
  src/assets/img-zzol-nutrition-facts.png
  src/assets/img-zzol-vertical.png
  src/assets/img-zzol.png
  src/components/ProductCard/ProductCard.jsx
  src/components/ProductCard/ProductDetailInfo.jsx
  src/components/ProductCard/ProductMainInfo.jsx
  src/components/ProductCard/productCard.module.scss
  src/components/ProductCard/productDetailInfo.module.scss
  src/components/ProductCard/productMainInfo.module.scss
  src/components/ProductDescription/ProductDescription.jsx
  src/components/ProductDescription/productDescription.module.scss
  src/components/ProductDetailDescription/ProductDetailDescription.jsx
  src/components/ProductDetailDescription/productDetailDescription.module.scss
  src/components/ProductNav/ProductNav.jsx
  src/components/ProductNav/productNav.module.scss
  src/pages/ProductDetail.jsx
Labels: 🔨 Refactor, 🎨 HTML & CSS, ✨ Feature

#133 Comp | 후기, 문의 컴포넌트 구현
  src/assets/img-icon-answer.svg
  src/assets/img-icon-lock.svg
  src/assets/img-icon-question.svg
  src/assets/next-active.svg
  src/assets/next.svg
  src/assets/prev-active.svg
  src/assets/prev.svg
  src/components/ModalForm/ModalForm.jsx
  src/components/ModalForm/ModalForm.module.scss
  src/components/ModalForm/ModalFormButtons.jsx
  src/components/ModalForm/ModalFormDetail.jsx
  src/components/ModalForm/ModalFormProduct.jsx
  src/components/ModalForm/ModalFormTextarea.jsx
  src/components/ModalForm/ModalFormTitle.jsx
  src/components/ProductDetailView/ButtonPrevNext/ButtonPrevNext.jsx
  src/components/ProductDetailView/ButtonPrevNext/ButtonPrevNext.module.scss
  src/components/ProductDetailView/Inquiry.jsx
  src/components/ProductDetailView/ProductDetailView.jsx
  src/components/ProductDetailView/ProductDetailView.module.scss
  src/components/ProductDetailView/Review.jsx
  src/components/ProductDetailView/ReviewInquiryHeader.jsx
  src/main.jsx
  src/styles/components/ButtonPrevNext.module.scss
Labels: 🎨 HTML & CSS, ✨ Feature

#146 [feature] detail 페이지 컴포넌트 연결
  src/components/ProductNav/productNav.module.scss
  src/pages/ProductDetail.jsx
Labels: ✨ Feature

#149 Feature | firebase db 정보 받아오기
  src/assets/product_zzol.png
  src/components/Thumbnail.jsx
  src/components/TotalNFilter.jsx
  src/pages/ProductList.jsx
  src/routes/fbase.js
  src/styles/components/List/thumbnail.module.scss
  src/styles/components/List/totalNumber.module.scss
Labels: 🎨 HTML & CSS, 📬 API, ✨ Feature

#144 Component | main-상품 캐러셀 구현
  src/assets/img-carousel-next-btn.svg
  src/components/ItemCarousel/Item.jsx
  src/components/ItemCarousel/Item.module.scss
  src/components/ItemCarousel/ItemCarousel.jsx
  src/components/ItemCarousel/ItemCarousel.module.scss
  src/pages/Home.jsx
Labels: 🎨 HTML & CSS, ✨ Feature

#153 [fix] 머지 후 메인페이지 안뜨던 오류 해결
  src/components/ItemCarousel/Item.jsx
  src/pages/Home.jsx
Labels: 🐞 BugFix

#163 [Feature] 동적라우팅 구축, 상품 디테일 페이지 firebase 데이터로 동적 렌더링 적용, 네비게이션 바 list페이지 접근 기능 구현
  src/@store/detailCardState.js
  src/@store/detailPageProductInfo.js
  src/App.jsx
  src/components/Header/Nav.jsx
  src/components/Header/nav.module.scss
  src/components/ProductCard/ProductCard.jsx
Labels: 🔨 Refactor, ✨ Feature

#167 Cart | Checkbox 전체 선택 구현, 더보기 버튼 구현, firebase 데이터 불러오기 구현
  package-lock.json
  package.json
  src/@store/detailCardState.js
  src/App.jsx
  src/assets/ic-check.svg
  src/assets/img-salad.png
  src/assets/img-sobulgogi.png
  src/assets/img-strawberry.png
  src/assets/img-zzambbong.png
  src/assets/img-zzol.svg
  src/components/A11yHidden/A11yHidden.module.scss
  src/components/Cart/CartAccordion.jsx
  src/components/Cart/CartList.jsx
  src/components/Cart/Credit.jsx
  src/components/Cart/data.json
  src/components/Slider/Slider.jsx
  src/components/Slider/Slider.module.scss
  src/pages/Cart.jsx
  src/pages/Cart/CartList.jsx
  src/styles/base/_reset.scss
  src/styles/pages/Cart/Cart.module.scss
  src/styles/pages/Cart/CartList.module.scss
Labels: 🔨 Refactor, ✨ Feature

#164 Comp | 후기, 문의 핵심 기능 구현
  src/assets/img-icon-next-active.svg
  src/assets/img-icon-next.svg
  src/assets/img-icon-notice.svg
  src/assets/img-icon-prev-active.svg
  src/assets/img-icon-prev.svg
  src/components/Button.jsx
  src/components/InputCheckbox/InputCheckbox.jsx
  src/components/InputCheckbox/InputCheckbox.module.scss
  src/components/ModalForm/ModalForm.jsx
  src/components/ModalForm/ModalForm.module.scss
  src/components/ModalForm/ModalFormButtons.jsx
  src/components/ModalForm/ModalFormDetail.jsx
  src/components/ModalForm/ModalFormProduct.jsx
  src/components/ModalForm/ModalFormTextarea.jsx
  src/components/ModalForm/ModalFormTitle.jsx
  src/components/ProductDetailView/ButtonPrevNext/ButtonPrevNext.jsx
  src/components/ProductDetailView/ButtonPrevNext/ButtonPrevNext.module.scss
  src/components/ProductDetailView/Inquiry.jsx
  src/components/ProductDetailView/ProductDetailView.jsx
  src/components/ProductDetailView/ProductDetailView.module.scss
  src/components/ProductDetailView/Review.jsx
  src/components/ProductDetailView/ReviewInquiryHeader.jsx
  src/styles/components/Button.module.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS, ✨ Feature

#171 Cart | Firebase 데이터 연동 및 세션 데이터 비교
  package-lock.json
  src/components/Cart/CartList.jsx
Labels: 🔨 Refactor, ✨ Feature

#173 [Fix] 카테고리 메뉴 가려지는 문제 해결 #172
  src/components/Header/Nav.jsx
Labels: 🐞 BugFix

#175 [fix] 메인 페이지 라우팅, 체크박스 버그 수정 #174
  src/App.jsx
  src/components/InputCheckbox/InputCheckbox.module.scss
Labels: 🐞 BugFix

#178 [fix] Cart 페이지 체크박스 전체 선택 문제 해결
  src/components/Cart/CartList.jsx
Labels: 🐞 BugFix, 🔨 Refactor

#169 Register | 유효성검사, 세션스토리지, 리팩토링
  src/components/Button.jsx
  src/pages/Register.jsx
  src/styles/pages/_register.scss
Labels: 🔨 Refactor, 🎨 HTML & CSS, ✨ Feature

#184 [Feature] | 리스트 페이지에서 상품 접근 가능하도록 링크 기능 구현 #182
  src/components/Thumbnail.jsx
Labels: 🐞 BugFix, 🔨 Refactor, ✨ Feature

#183 Login | 로그인,회원가입 링크 수정
  src/pages/Login.jsx
Labels: 🎨 HTML & CSS

#186 Cart | Cart 페이지 Counter 컴포넌트 연결
  src/components/Cart/CartList.jsx
Labels: ✨ Feature

#190 [refact] 로고, 네비게이션 로고, 타이틀, 파비콘 - 마켓 칼리로 수정 #189
  index.html
  public/img-favi-karly.svg
  public/vite.svg
  src/components/Header/SearchBar.jsx
Labels: 🔨 Refactor

#194 [Fix] 버블, 이미 담은 상품 체크 에러 해결 #193
  src/components/Header/Nav.jsx
Labels: 🐞 BugFix, 🔨 Refactor

#195 [Fix] 버블, 이미 담은 상품 체크 에러
  src/components/Header/Nav.jsx
Labels: 🌏 Deploy

#199 배포 관련 라우팅 오류 해결
  src/App.jsx
Labels: 🐞 BugFix, 🌏 Deploy

#200 HotFix | 로그인 버튼링크, 레지스터 콘솔로그제거, 기타폴더 삭제
  src/api/getProduct.jsx
  src/pages/Login.jsx
  src/pages/Register.jsx
Labels: 🐞 BugFix

#202 [fix] Detail | hashrouter 적용 후 디테일페이지 탭 오류 해결 #201
  package-lock.json
  package.json
  src/components/ProductNav/ProductNav.jsx
  src/components/ProductNav/productNav.module.scss
Labels: 🐞 BugFix

#203 [fix] Detail | hashrouter 적용 후 디테일페이지 탭 오류 해결
  package-lock.json
  package.json
  src/components/ProductNav/ProductNav.jsx
  src/components/ProductNav/productNav.module.scss
Labels: 🐞 BugFix, 🌏 Deploy

#204 [docs] README.md 역할 뱃지 추가
  README.md
Labels: 📘 Docs
